apiVersion: apps/v1
kind: Deployment
metadata:
  name: am-nginx-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: am-nginx-gateway
  template:
    metadata:
      labels:
        app: am-nginx-gateway
    spec:
      containers:
      - name: gateway
        image: am-nginx-gateway:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: am-nginx-gateway
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
  selector:
    app: am-nginx-gateway
